body{
	margin: 0;
	padding: 0;
	color: #fff;
	min-width: 320px;
	background-color: rgb(239,240,244);
}
.container{
	width: auto;
	height: auto;
}
header{
	width: auto;
	height: 1em;
	padding: 0.8em 2em;
	background-color: rgb(95,192,205);
}
.hd-left{
	float: left;
}
.hd-center{
	text-align: center;
}
.hd-right{
	float: right;
	margin-top: -1em;
}
.inner{
	width: 100%;
	background-color: #fff;
	height: 1.6em;
	margin: 0.5em 0;
	padding: 0.8em 0;
}
.inner-icon{
	padding: 0.16em 1.3125em;
	float: left;	
}
.inner img{
	height: 1.6em;
	width: 1em;
}
.inner-insert{
	height: 1.6em;
	width: 2px;
	float: left;
	margin: 0;
	background-color: rgb(239,240,244); 
}
input{
	width: 100%;
	border: none;
}
.inner-input{
	width: 70%;
	height: 1.6em;
	margin: 0;
	padding: 0 1em;
	float: left;
	overflow: hidden;
}
.submit-btn{
	background-color: rgb(95,192,205);
    color: white;
    letter-spacing: 0.5em;
    width: 100%;
    margin-top: 2.18em;
    font-size: 1em;
    padding: 1em 0;
}
.forgot-password{
	color: rgb(95,192,205);
	float: right;
	font-size: 12px;
	margin: 0.6em 1em;
}